<div class="text-center">

    <div>
        <h1>O aluno foi registrado!</h1>                                                                                                                                                                                                                                                                                                                                               
    </div>
    <form>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>