<div class="text-center">
    <h1 class="display-4">SEJA BEM-VINDO AO NOSSO "SITE" TESTE!</h1>
    <p>ATENÇÃO: ESSE SITE AINDA ESTÁ EM DESENVOLVIMENTO
</div>

<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" href="https://trollface.dk/" role="button">BOTÃO TESTE</a>
</div>