<div class="text-left">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">LINKS PARA OBTER CONHECIMENTO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">LINK 1:</th>
                <td><a href="https://console.hgbrasil.com/documentation/weather">https://console.hgbrasil.com/documentation/weather</a></td>
            </tr>
            <tr>
                <th scope="row">LINK 2:</th>
                <td><a href="https://documenter.getpostman.com/view/7064033/SWT5jMGk">https://documenter.getpostman.com/view/7064033/SWT5jMGk</a></td>
            </tr>
            <tr>
                <th scope="row">LINK 3:</th>
                <td><a href="https://parallelum.com.br/fipe/api/v1/carros/marcas">https://parallelum.com.br/fipe/api/v1/carros/marcas</a></td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" type="button" asp-controller="Conhecimento" asp-action="Index">VOLTAR PARA A ÁREA CONHECIMENTO</a>
</div>