<div class="text-center">
    <h1 class="display-4">ÁREA DO CONHECIMENTO :)</h1>
    <p>Essa área é usada para melhorar seu conhecimento estudando programação!
</div>

<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-primary" asp-controller="Conhecimento" asp-action="Adquirido" type="button">CLIQUE AQUI PARA AMPLIAR SEU CONHECIMENTO</a>
    <p>*MVC</p>
    <p>*SQL</p>
</div>